/* tracking.css */

/* Set background color for the entire page */
body {
    background-color: #164863;
}

/* Container styling */
.tracking-container {
    margin-top: 50px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Ensure container background is white or desired color */
    background-color: #fff; /* Change to the desired background color for the container */
    margin-bottom: 90px; /* Adjust as needed */
}

/* Title styling */
.tracking-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Form styling */
.tracking-form {
    max-width: 400px;
    margin: auto;
}

.tracking-label {
    font-size: 16px;
    font-weight: bold;
}

.tracking-input {
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.tracking-btn {
    margin-top: 10px;
    width: 100%;
}

/* Alert styling */
.tracking-alert {
    margin-top: 20px;
}

/* Tracking information styling */
.tracking-info {
    margin-top: 20px;
    padding: 15px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
}

.tracking-info-title {
    font-size: 20px;
    font-weight: bold;
    color: #155724;
}

/* Error message styling */
.tracking-error {
    margin-top: 20px;
}

@keyframes floatInBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.float-in-bottom {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s ease-out;
}

.animate {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease-out;
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 992px) {
    .tracking-container {
        margin-top: 30px;
        margin-bottom: 60px;
        padding: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .tracking-form {
        max-width: 100%;
    }

    .tracking-input,
    .tracking-btn {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .tracking-title {
        font-size: 24px;
    }

    .tracking-label {
        font-size: 14px;
    }

    .tracking-info-title {
        font-size: 18px;
    }
}
